<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Página de fans de Jorge</title>
</head>
<body>
    <nav>
        <a id="at1" href="/home">Home</a>
        <a id="at2" href="/about">Sobre él</a>
        <a id="at3" href="/works">Trabajos</a>
        <a id="at4" href="/gallery">Galería</a>
    </nav>
    <div id="container">
        <h2 id="sobreJorge">Sobre Jorge</h2>
        <h4 id="infoJorge">En esta sección encontrarás diferente información sobre Jorge Berrizbeitia.</h4>
        <ul id="listaJorge">
            <li>Edad: Actualmente desconocida.</li>
            <li>Ubicación: Barcelona.</li>
            <li>Profesion: Full stack developer.</li>
            <li>Hobbies: Capturar pokemon, picar código y ver películas de Marvel.</li>
        </ul>
    </div>
</body>
</html>