<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de fans de Jorge</title>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">Sobre él</a>
        <a href="/works">Trabajos</a>
    </nav>
    <h2>Sobre Jorge</h2>
    <h4>En esta sección encontrarás diferente información sobre Jorge Berrizbeitia.</h4>
    <ul>
        <li>Edad: Actualmente desconocida.</li>
        <li>Ubicación: Barcelona.</li>
        <li>Profesion: Full stack developer.</li>
        <li>Hobbies: Capturar pokemon, picar código y ver películas de Marvel.</li>
    </ul>
</body>
</html>