<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Página de fans de Jorge</title>
</head>
<body>
    <nav>
        <a id="at1" href="/home">Home</a>
        <a id="at2" href="/about">Sobre él</a>
        <a id="at3" href="/works">Trabajos</a>
        <a id="at4" href="/gallery">Galería</a>
    </nav>
    <div id="container" class="gallery-container">
        <section id="galeria">
            <img src="./img/Picachu.jpeg" alt="Picachu">
            <img src="./img/charmander.jpeg" alt="Charmander">
            <img src="./img/squirtle.png" alt="Squirtle">
            <img src="./img/bulbasaur.jpeg" alt="Bulbasaur">
        </section>
    </div>
</body>
</html>