<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de fans de Jorge</title>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">Sobre él</a>
        <a href="/works">Trabajos</a>
    </nav>
    <h1>Club de Grupies de Jorge Berrizbeitia</h1>
    <h4>Bienvenido a la Fan Page de Jorge, el mejor Lead Teacher de IronHack!!</h4>
    <p>Navengando por esta web podrás encontrar todo tipo de curiosidades sobre el mago de Javascript.</p>
</body>
</html>