<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Página de fans de Jorge</title>
</head>
<body>
    <nav>
        <a id="at1" href="/home">Home</a>
        <a id="at2" href="/about">Sobre él</a>
        <a id="at3" href="/works">Trabajos</a>
    </nav>
    <div id="container">
        <h1 id="titulo">Club de Grupies de Jorge Berrizbeitia</h1>
        <h4 id="subtitulo">Bienvenido a la Fan Page de Jorge, el mejor Lead Teacher de IronHack!!</h4>
        <p id="parrafo-bienvenida">Navengando por esta web podrás encontrar todo tipo de curiosidades sobre el mago de Javascript.</pi>
    </div>
</body>
</html>