<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Página de fans de Jorge</title>
</head>
<body>
    <nav>
        <a id="at1" href="/home">Home</a>
        <a id="at2" href="/about">Sobre él</a>
        <a id="at3" href="/works">Trabajos</a>
        <a id="at4" href="/gallery">Galería</a>
    </nav>
    <div id="container">
        <h2 id="trabajosJorge">Trabajos de Jorge Berrizbeitia</h2>
        <h4>Tras recorrer el mundo completando la Pokedex, Jorge acabo trabajando en los siguientes puestos:</h4>
        <h5 id="toyota">Toyota</h5>
        <p class="pwords">Inventory Control and Imports Analyst</p>
        <h5>Caterpillar</h5>
        <p class="pwords">GSND Purchasing Analyst / Procurement Specialist</p>
        <h5>Ironhack</h5>
        <p class="pwords">Lead Teacher</p>
        <p class="pwords">Teacher Associate</p>
    </div>
</body>
</html>